{% extends 'base.html' %}

{% block title %} Get Boxes around each character of image {% endblock %}

{% block content %}

        <div class="container">
            <div class="row justify-content-md-center">
                    <div class="col col-md-auto">
                        {% if msg %}
                        <h1>{{ msg }}</h1>
                        {% endif %}
                    </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-md-center">
                    <div class="col col-md-auto">
                        <h1>Upload new Image</h1>
                    </div>
            </div>
        </div>
        <br>
        <br>

        <div class="container">
            <div class="row justify-content-md-center">
                    <div class="col col-md-auto">
                        <form method="POST", enctype="multipart/form-data">
                            <p><input type="file", name="file">
                                <button type="submit" class="btn btn-success", value="Upload">Upload</button> 
                            </p>
                        </form>
                    </div>
                    <div class="col col-md-auto">
                        <input type="submit" class="btn btn-success floated" name="Data" value="Date">
                        <input type="submit" class="btn btn-success floated" name="Data" value="Pin Code">
                        <input type="submit" class="btn btn-success floated" name="Data" value="Email">
                    </div>
            </div>
        </div>
        <br>
        <br>
<!-- 
        <div class="container">
            <div class="row justify-content-md-center">
                    <div class="col col-md-auto">
                        <h3>Given Image:</h3>
                        {% if img_src %}
                            <img src="{{ img_src }}" style="width:512px;height:650px;", class="img-fluid", alt="Responsive image">
                        {% endif %}

                    </div>
            </div>
        </div>
        <br> -->

        <div class="container">
            <div class="row justify-content-md-center">
                    <div class="col col-md-auto">
                        <h3>Given Image:</h3>
                        {% if img_src %}
                            <img src="{{ img_src }}" style="width:512px;height:650px;", class="img-fluid", alt="Responsive image">
                        {% endif %}

                    </div>
                    <div class="col col-md-auto">
                        <p><b>The result of Boxes around the Characters:</b></p>
                        <br>
                        <br>
                        <img src="{{ BoxedImage }}" style="width:512px;height:650px;", class="image_fluid">
                </div>
            </div>
        </div>
        <br>
<!-- 
        <div class="container">
            <div class="row justify-content-md-center">
                    <div class="col col-md-auto">
                            <p><b>The result of Boxes around the Characters:</b></p>
                            <br>
                            <br>
                            <img src="{{ BoxedImage }}" style="width:512px;height:650px;", class="image_fluid">
                    </div>
            </div>
        </div> -->

{% endblock %}

